# Installer hashes for CrowdStrike Falcon
ubuntu_debian_amd64_hash: "69f4ab1629bc12656e2a98ba5fc9f21726658a296076b4627c922bc95aa4e545"
ubuntu_arm64_hash: "135925fa86bc81ce5f8d4272c4a4d7d18eb90b9dbb270e7515e78a2c41aa40e2"

sles12_amd64_hash: "d33e45ec367af15d158a7b080839fc7807fd28577d94ea5b7e13a103c09dd6d0"
sles15_amd64_hash: "bc12ce29cf1f49f33114e6907e1282e60d480472ca8639921a3570ff220071d0"

centos7_amd64_hash: "e5ebe73b879cf4cad7f27e1fff64d19a21e60ee13528da18bb400a35057e1c6b"
centos8_amd64_hash: "36e2d1c181d7ff8a7323bd4e961f1b13b93bc8b182d39f69ea0b6c8a1ed27a33"
centos8_arm64_hash: "17ec2f8bb5eb58b913f1a7a1652982085c3701237540f205c628ca0d098727a4"

redhat7_amd64_hash: "e5ebe73b879cf4cad7f27e1fff64d19a21e60ee13528da18bb400a35057e1c6b"
redhat8_amd64_hash: "36e2d1c181d7ff8a7323bd4e961f1b13b93bc8b182d39f69ea0b6c8a1ed27a33"
redhat9_amd64_hash: "076262de4418b132ca910c415363810458e4ff96da765a6321aeca00bf7eded5"
redhat9_arm64_hash: "4fc8993075f772de0822fe399cf326022eceb7ebdfbdfcf4c33633a7f0a88bd4"

al2_amd64_hash: "e0eee05cffcd36bf05c3492b931ac6c064abb254a1d25c2b0e358eab44c759b1"
al2_arm64_hash: "b50c1edbcfd8b092579730e39fda1667953a13315f8ef9993bc51783ec470546"
al2023_amd64_hash: "4edbbffd3ee64dfa8fe85d9a59faf4d19c11f6bd02fd6b16565a9485282dc588"
al2023_arm64_hash: "c412de49f0b5c8bb1c71d05f844672f70f3e4067518d85cead9bb7f1e22844ee"

win_hash: "5f1a46d9867642ba48515fa724a1d53c79f635622b274fdee8874588f29cb564"
mac_hash: "99b5bc2a3083092c5a9373e8379018dc6f3c914b76cbc05862167bcb846424a8"

falcon_hash_hostname_based:
  - hostname: "amd64:centos8"
    hash: "{{ centos8_amd64_hash }}"
  - hostname: "arm64:centos8"
    hash: "{{ centos8_arm64_hash }}"
    # CentOS Stream not explicitly supported by CrowdStrike, using CentOS 8 installers instead
  - hostname: "amd64:centos-stream"
    hash: "{{ centos8_amd64_hash }}"
  - hostname: "arm64:centos-stream"
    hash: "{{ centos8_arm64_hash }}"
  - hostname: "amd64:redhat-8.4"
    hash: "{{ redhat8_amd64_hash }}"
  - hostname: "amd64:redhat-9.0"
    hash: "{{ redhat9_amd64_hash }}"
  - hostname: "arm64:redhat-9.0"
    hash: "{{ redhat9_arm64_hash }}"
  - hostname: "amd64:al-2023"
    hash: "{{ al2023_amd64_hash }}"
  - hostname: "arm64:al-2023"
    hash: "{{ al2023_arm64_hash }}"
  - hostname: "amd64:centos7"
    hash: "{{ centos7_amd64_hash }}"
    # CentOS 7 arm64 not supported by CrowdStrike, using Amazon Linux 2 arm64 installers instead
  - hostname: "arm64:centos7"
    hash: "{{ al2_arm64_hash }}"
  - hostname: "amd64:redhat-7.9"
    hash: "{{ redhat7_amd64_hash }}"
    # RedHat 7.6 arm64 not supported by CrowdStrike, using Amazon Linux 2 arm64 installers instead
  - hostname: "arm64:redhat-7.6"
    hash: "{{ al2_arm64_hash }}"
  - hostname: "amd64:al-2"
    hash: "{{ al2_amd64_hash }}"
  - hostname: "arm64:al-2"
    hash: "{{ al2_arm64_hash }}"
  - hostname: "amd64:ubuntu24.04"
    hash: "{{ ubuntu_debian_amd64_hash}}"
  - hostname: "amd64:ubuntu22.04"
    hash: "{{ ubuntu_debian_amd64_hash}}"
  - hostname: "amd64:ubuntu20.04"
    hash: "{{ ubuntu_debian_amd64_hash}}"
  - hostname: "amd64:ubuntu18.04"
    hash: "{{ ubuntu_debian_amd64_hash}}"
  - hostname: "amd64:ubuntu16.04"
    hash: "{{ ubuntu_debian_amd64_hash}}"
  - hostname: "arm64:ubuntu24.04"
    hash: "{{ ubuntu_arm64_hash }}"
  - hostname: "arm64:ubuntu22.04"
    hash: "{{ ubuntu_arm64_hash }}"
  - hostname: "arm64:ubuntu20.04"
    hash: "{{ ubuntu_arm64_hash }}"
  - hostname: "arm64:ubuntu18.04"
    hash: "{{ ubuntu_arm64_hash }}"
  - hostname: "arm64:ubuntu16.04"
    hash: "{{ ubuntu_arm64_hash }}"
  - hostname: "amd64:debian-buster"
    hash: "{{ ubuntu_debian_amd64_hash}}"
  - hostname: "amd64:debian-bullseye"
    hash: "{{ ubuntu_debian_amd64_hash}}"
  - hostname: "amd64:debian-bookworm"
    hash: "{{ ubuntu_debian_amd64_hash}}"
    # Debian arm64 not supported by CrowdStrike, using Ubuntu arm64 installers instead
  - hostname: "arm64:debian-buster"
    hash: "{{ ubuntu_arm64_hash }}"
  - hostname: "arm64:debian-bullseye"
    hash: "{{ ubuntu_arm64_hash }}"
  - hostname: "arm64:debian-bookworm"
    hash: "{{ ubuntu_arm64_hash }}"
  - hostname: "amd64:sles-12.3"
    hash: "{{ sles12_amd64_hash }}"
  - hostname: "amd64:sles-12.4"
    hash: "{{ sles12_amd64_hash }}"
  - hostname: "amd64:sles-12.5"
    hash: "{{ sles12_amd64_hash }}"
  - hostname: "amd64:sles-15.1"
    hash: "{{ sles15_amd64_hash }}"
  - hostname: "amd64:sles-15.2"
    hash: "{{ sles15_amd64_hash }}"
  - hostname: "amd64:sles-15.3"
    hash: "{{ sles15_amd64_hash }}"
  - hostname: "amd64:sles-15.4"
    hash: "{{ sles15_amd64_hash }}"
  - hostname: "amd64:sles-15.5"
    hash: "{{ sles15_amd64_hash }}"
    # SLES arm64 not supported by CrowdStrike, using CentOS 8 arm64 installers instead
  - hostname: "arm64:sles-15.3"
    hash: "{{ centos8_arm64_hash }}"
  - hostname: "arm64:sles-15.4"
    hash: "{{ centos8_arm64_hash }}"
  - hostname: "arm64:sles-15.5"
    hash: "{{ centos8_arm64_hash }}"
  - hostname: "amd64:macos"
    hash: "{{ mac_hash }}"
  - hostname: "arm64:macos"
    hash: "{{ mac_hash }}"
  - hostname: "amd64:windows_"
    hash: "{{ win_hash }}"

falcon_hash_ansible_facts_based:
  - hash: "{{ centos8_amd64_hash }}"
    distribution: "CentOS"
    major_version: "8"
    architecture: "x86_64"
  - hash: "{{ centos8_arm64_hash }}"
    distribution: "CentOS"
    major_version: "8"
    architecture: "aarch64"
    # CentOS Stream not explicitly supported by CrowdStrike, using CentOS 8 installers instead
  - hash: "{{ redhat9_amd64_hash }}"
    distribution: "CentOS"
    major_version: "9"
    architecture: "x86_64"
  - hash: "{{ redhat9_arm64_hash }}"
    distribution: "CentOS"
    major_version: "9"
    architecture: "aarch64"
  - hash: "{{ centos7_amd64_hash }}"
    distribution: "CentOS"
    major_version: "7"
    architecture: "x86_64"
    # CentOS 7 arm64 not supported by CrowdStrike, using Amazon Linux 2 arm64 installers instead
  - hash: "{{ al2_arm64_hash }}"
    distribution: "CentOS"
    major_version: "7"
    architecture: "aarch64"
  - hash: "{{ al2_amd64_hash }}"
    distribution: "Amazon"
    major_version: "2"
    architecture: "x86_64"
  - hash: "{{ al2_arm64_hash }}"
    distribution: "Amazon"
    major_version: "2"
    architecture: "aarch64"
  - hash: "{{ al2023_amd64_hash }}"
    distribution: "Amazon"
    major_version: "2023"
    architecture: "x86_64"
  - hash: "{{ al2023_arm64_hash }}"
    distribution: "Amazon"
    major_version: "2023"
    architecture: "aarch64"
  - hash: "{{ ubuntu_debian_amd64_hash}}"
    distribution: "Ubuntu"
    major_version: "24"
    architecture: "x86_64"
  - hash: "{{ ubuntu_debian_amd64_hash}}"
    distribution: "Ubuntu"
    major_version: "22"
    architecture: "x86_64"
  - hash: "{{ ubuntu_debian_amd64_hash}}"
    distribution: "Ubuntu"
    major_version: "20"
    architecture: "x86_64"
  - hash: "{{ ubuntu_debian_amd64_hash}}"
    distribution: "Ubuntu"
    major_version: "18"
    architecture: "x86_64"
  - hash: "{{ ubuntu_debian_amd64_hash}}"
    distribution: "Ubuntu"
    major_version: "16"
    architecture: "x86_64"
  - hash: "{{ ubuntu_arm64_hash }}"
    distribution: "Ubuntu"
    major_version: "24"
    architecture: "aarch64"
  - hash: "{{ ubuntu_arm64_hash }}"
    distribution: "Ubuntu"
    major_version: "22"
    architecture: "aarch64"
  - hash: "{{ ubuntu_arm64_hash }}"
    distribution: "Ubuntu"
    major_version: "20"
    architecture: "aarch64"
  - hash: "{{ ubuntu_arm64_hash }}"
    distribution: "Ubuntu"
    major_version: "18"
    architecture: "aarch64"
  - hash: "{{ ubuntu_arm64_hash }}"
    distribution: "Ubuntu"
    major_version: "16"
    architecture: "aarch64"
  - hash: "{{ ubuntu_debian_amd64_hash}}"
    distribution: "Debian"
    major_version: "10"
    architecture: "x86_64"
  - hash: "{{ ubuntu_debian_amd64_hash}}"
    distribution: "Debian"
    major_version: "11"
    architecture: "x86_64"
  - hash: "{{ ubuntu_debian_amd64_hash}}"
    distribution: "Debian"
    major_version: "12"
    architecture: "x86_64"
    # Debian arm64 not supported by CrowdStrike, using Ubuntu arm64 installers instead
  - hash: "{{ ubuntu_arm64_hash }}"
    distribution: "Debian"
    major_version: "10"
    architecture: "aarch64"
  - hash: "{{ ubuntu_arm64_hash }}"
    distribution: "Debian"
    major_version: "11"
    architecture: "aarch64"
  - hash: "{{ ubuntu_arm64_hash }}"
    distribution: "Debian"
    major_version: "12"
    architecture: "aarch64"
  - hash: "{{ sles12_amd64_hash }}"
    distribution: "SLES_SAP"
    major_version: "12"
    architecture: "x86_64"
  - hash: "{{ sles12_amd64_hash }}"
    distribution: "SLES_SAP"
    major_version: "12"
    architecture: "x86_64"
  - hash: "{{ sles12_amd64_hash }}"
    distribution: "SLES_SAP"
    major_version: "12"
    architecture: "x86_64"
  - hash: "{{ sles15_amd64_hash }}"
    distribution: "SLES_SAP"
    major_version: "15"
    architecture: "x86_64"
  - hash: "{{ sles15_amd64_hash }}"
    distribution: "SLES_SAP"
    major_version: "15"
    architecture: "x86_64"
  - hash: "{{ sles15_amd64_hash }}"
    distribution: "SLES_SAP"
    major_version: "15"
    architecture: "x86_64"
  - hash: "{{ sles15_amd64_hash }}"
    distribution: "SLES_SAP"
    major_version: "15"
    architecture: "x86_64"
  - hash: "{{ sles15_amd64_hash }}"
    distribution: "SLES_SAP"
    major_version: "15"
    architecture: "x86_64"
    # SLES arm64 not supported by CrowdStrike, using CentOS 8 arm64 installers instead
  - hash: "{{ centos8_arm64_hash }}"
    distribution: "SLES_SAP"
    major_version: "15"
    architecture: "aarch64"
  - hash: "{{ centos8_arm64_hash }}"
    distribution: "SLES_SAP"
    major_version: "15"
    architecture: "aarch64"
  - hash: "{{ centos8_arm64_hash }}"
    distribution: "SLES_SAP"
    major_version: "15"
    architecture: "aarch64"
  - hash: "{{ win_hash }}"
    distribution: "Microsoft Windows Server 2019 Datacenter"
    major_version: "10"
    architecture: "64-bit"
  - hash: "{{ win_hash }}"
    distribution: "Microsoft Windows Server 2022 Datacenter"
    major_version: "10"
    architecture: "64-bit"